.vscode
/node_modules
/dist
/.env
/coverage
.DS_Store
*.log
.claude    
**/__azurite_db_*
**/__blobstorage__
**/__queuestorage__
bin
obj
Properties
AzuriteConfig
local.settings.json
server/publish
server/deploy.zip
parameters.json